  <aside class="bg-primary">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Find more articles on my Google Scholar!</h2>
              <a href="https://scholar.google.com/citations?user=ANwgpkEAAAAJ" class="btn btn-default btn-xl wow tada">Google Scholar</a>
          </div>
      </div>
  </aside>
