<section class="bg-primary" id="cv">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Curriculum vitae</h2>
                <hr class="light">
                <p class="text-faded">Download a pdf version of my curriculum here</p>
                <a href="#" class="btn btn-default btn-xl">CV</a>
            </div>
        </div>
    </div>
</section>
