<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Francisco J Hernandez Heras</h1>
            <hr>
            <p>Physics. Maths. Biology. AI. Currently at DeepMind. </p>
            <a href="#nutshell" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
