<section class="bg-primary" id="cv">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">More information</h2>
                <hr class="light">
		<a href="https://pt.linkedin.com/in/fjhheras" style="color: inherit;"> 
			<i class="fa fa-4x fa-linkedin wow bounceIn text-background" data-wow-delay=".2s"></i>
		</a>
            </div>
        </div>
    </div>
</section>
