<section id="nutshell">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">In a nutshell</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                    <h3>Education</h3>
                    <p class="text-muted">BA+MSc Physics/Mathematics (U. Valladolid, Spain)</p>
                    <p class="text-muted">MPhil+PhD Biological Sciences (U. Cambridge, UK)</p>
		</div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Research</h3>
                    <p class="text-muted">Applying AI to scientific problems.</p>
		    <p class="text-muted">Energy efficiency in neural systems. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-floppy-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Technologies</h3>
		    <p class="text-muted"> <strong> Proficient: </strong> Python (Tensorflow, pytorch, numpy...)</p>
		    <p class="text-muted"> <strong> Other: </strong> C, Haskell, MATLAB, HTML</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Currently at</h3>
                    <p class="text-muted">DeepMind, London (UK)</p>
                </div>
            </div>
            <!--
	    <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Other interests</h3>
                    <p class="text-muted">Science popularisation. Reading. Travelling.</p>
                </div>
            </div>
	    //-->
        </div>
    </div>
</section>
