<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://www.nature.com/articles/s41586-024-08148-8" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/alphaqubit1.jpg" class="img-responsive" alt="Learning high-accuracy error decoding for quantum processors">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://www.nature.com/articles/s41586-024-08449-y" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/willow.jpg" class="img-responsive" alt="Quantum errr correction below the surface code threshold">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://arxiv.org/pdf/2402.14396" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/atq.jpg" class="img-responsive" alt="Quantum Circuit Optimization with AlphaTensor">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>

	    <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://www.nature.com/articles/s41592-018-0295-5" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/idtrackerai.jpg" class="img-responsive" alt="idtraker.ai">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007354" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/attention.jpg" class="img-responsive" alt="Deep attention networks reveal the rules of collective motion in zebrafish">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://www.frontiersin.org/articles/10.3389/fphy.2020.00200/full" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/evolutionary.jpg" class="img-responsive" alt="Automated discovery of local rules for desired collective-level behavior through reinforcement learning">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://royalsocietypublishing.org/doi/10.1098/rsif.2016.0719" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/shunt.jpg" class="img-responsive" alt="Shunt peaking in neural membranes">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://royalsocietypublishing.org/doi/10.1098/rsif.2016.0938" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/voltage.jpg" class="img-responsive" alt="Voltage-dependent K channels improve the energy efficiency of signalling in blowfly photoreceptors">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 grayscale">
                <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006566" class="portfolio-box">
                    <img style="border:2px solid white;" src="img/portfolio/modulation.jpg" class="img-responsive" alt="Modulation of voltage-dependent K conductances in photoreceptors trades off investment in contrast gain for bandwidth">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
